* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

/* Общий стиль для всех "островков" */
#workspaces,
#window,
#clock,
#network,
#bluetooth,
#pulseaudio,
#battery,
#tray,
#group-hardware { /* <-- Вот этот селектор отвечает за фон */
    background: #1e1e2e;
    color: #cdd6f4;
    padding: 0 15px;
    margin: 4px 4px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Стили для модулей внутри группы железа */
#cpu {
    color: #cdd6f4;
    padding: 0 5px;
    background: #1e1e2e;
    margin: 4px 0px;
    /* border-radius: 0 20px 20px 0; */
    border-radius: 20px 0 0 20px;
}

#memory {
    color: #cdd6f4;
    padding: 0 5px;
    background: #1e1e2e;
    margin: 4px 0px;
    /* border-radius: 0 20px 20px 0; */
    /* border-radius: 20px 0 0 20px; */
}

#disk {
    color: #cdd6f4;
    padding: 0 15px 0 0;
    background: #1e1e2e;
    margin: 4px 4px 4px 0;
    border-radius: 0 20px 20px 0;
    /* border-radius: 20px 0 0 20px; */
}

/* Воркспейсы */
#workspaces button {
    padding: 0 5px;
    color: #fab387;
    background: transparent;
}

#workspaces button.active {
    color: #89b4fa;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Цвета для отдельных модулей/иконок */
#clock { color: #cba6f7; }
#network { color: #a6e3a1; }
#bluetooth { color: #89b4fa; }
#pulseaudio { color: #f9e2af; }
#battery { color: #f38ba8; }
#battery.charging { color: #a6e3a1; }

/* Особая настройка для трея */
#tray {
    margin-right: 10px;
}

#tray menu {
    background: #1e1e2e;
    color: #cdd6f4;
}
