* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

/* Общий стиль для всех "островков" */
#workspaces,
#window,
#clock,
#network,
#bluetooth,
#pulseaudio,
#battery,
#tray,
#custom-system_info {
    background: #1e1e2e; /* Цвет плашек (Catppuccin Mocha) */
    color: #cdd6f4; /* Общий цвет текста для всех модулей */
    padding: 0 15px;
    margin: 0 4px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#bluetooth {
    color: #89b4fa;
}

/* Воркспейсы (внутри плашки) */
#workspaces button {
    padding: 0 5px;
    color: #fab387;
    background: transparent;
}

#workspaces button.active {
    color: #89b4fa;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(0, 0, 0, 0.2);
}

/* Цвета для отдельных иконок и модулей */
#clock { color: #cba6f7; }
#network { color: #a6e3a1; }
#pulseaudio { color: #f9e2af; }
#battery { color: #f38ba8; }
#battery.charging { color: #a6e3a1; }

/* Трей */
#tray {
    margin-right: 0px;
}
